extends ../layout

block content
  h1= title
  p #{teams.length} teams in competition
  table(class='table')
    thead
        tr
            th Name
            th Points
            th Wins
    tbody
        for team in teams
            tr
                td= team.name
                td= team.points
                td= team.wins